.email-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 96%);
  border-radius: 10px;
}
.email-wrap .input-wrap input{
  background-color: transparent;
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0 20px;
}
.email-wrap .icon-wrap{
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: white;
  background-color: var(--color-primary);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.social-icons{
  background-color: var(--color-primary);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 23px;
  color: white;
  cursor: pointer;
}