.contact-form input,.contact-form textarea{
  width: 100%;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: #705BC4;
  letter-spacing: 1px;
  color: white;
}
.contact-form input::placeholder,.contact-form textarea::placeholder{
  color: white;
  letter-spacing: 1px;
}
.contact-icons{
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: var(--theme-text-primary);
  cursor: pointer;
}